@charset "UTF-8";
/*Pocket Social CSS Document */

#gifImg {
    width:320px;
    height:480px;
    display:table;
    text-align:center;
    background-color:transparent;
}

#gifImg span {
    display:table-cell;
    vertical-align:middle;
}